# default group
# (will be overridden by more specific matches below)
*                        @rapidsai/lucene-cuvs-write

# java code owners
src/                     @rapidsai/cuvs-java-codeowners

# docs code owners
LICENSE                  @rapidsai/cuvs-docs-codeowners
/README.md               @rapidsai/cuvs-docs-codeowners

# CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

# packaging code owners
build.sh                 @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
pom.xml                  @rapidsai/cuvs-build-codeowners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
